In [38]:
import pandas as pd
import numpy as np
path_to_file = "C:/Users/hp.hp-PC/Desktop/Hamoye/fuel_ferc1.csv"

energy_data = pd.read_csv(path_to_file, encoding='utf-8')
print(type(energy_data))

<class 'pandas.core.frame.DataFrame'>

In [48]:
energy_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [50]:
energy_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [49]:
energy_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

## Identity Matrix

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Using Extend Method

In [36]:
A = [1,2,3,4,5,6] 
B = [13,21,34]
A_B = A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Standard Deviation and 75th Percentile

In [39]:
energy_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

## Skewness and Kurtosis

In [40]:
energy_data.skew(axis = 0, skipna = True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

## Average minimum fuel cost per unit delivered

In [45]:
print(energy_data[energy_data.fuel_cost_per_unit_delivered == energy_data.fuel_cost_per_unit_delivered.min()])

                     record_id  utility_id_ferc1  report_year  \
17525  f1_fuel_2008_12_177_1_1               177         2008

      plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
17525      mexico c.t.                 oil       bbl            811.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
17525                5.754                     86.628

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
17525                      -874.937               15.055

##  Fuel Type With The Lowest Average Fuel Cost Per Unit Burned

In [46]:
print(energy_data[energy_data.fuel_cost_per_unit_burned == energy_data.fuel_cost_per_unit_burned.min()])

                    record_id  utility_id_ferc1  report_year  \
7733  f1_fuel_2000_12_194_3_3               194         2000

         plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
7733  nelson dewey unit 2               waste       ton             39.0

      fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
7733               0.0155                    -276.08

      fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
7733                       -174.67               -8.906

In [47]:
energy_data.fuel_cost_per_unit_burned.min(axis=0)

-276.08